In [87]:
import pandas as pd
import seaborn as sns

In [89]:
df=pd.read_csv("tmdb_5000_movies.csv") 
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

### Raw Selection. (always provide range)
### Columns Selection ( write column name)

In [90]:
df[start point:end point] #it will show end-1 row.
df[0:10]    # 0 to 10 rows
df[0:10:2]  # 0 to 10 rows with step size 2
df[10:0:-2] #10 to zero rows with step size 2  
#One thing to note that it will always start from start and go to end point irrespective of direction.

SyntaxError: invalid syntax (<ipython-input-90-38ff18374959>, line 1)

In [91]:
df['original_title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: original_title, Length: 4803, dtype: object

## row and column selection

In [92]:
df[1:9]['homepage']

1         http://disney.go.com/disneypictures/pirates/
2          http://www.sonypictures.com/movies/spectre/
3                   http://www.thedarkknightrises.com/
4                 http://movies.disney.com/john-carter
5      http://www.sonypictures.com/movies/spider-man3/
6         http://disney.go.com/disneypictures/tangled/
7    http://marvel.com/movies/movie/193/avengers_ag...
8    http://harrypotter.warnerbros.com/harrypottera...
Name: homepage, dtype: object

In [93]:
#multiple raw and columns #Pass the list
df[1:4][['homepage','original_title']]

,homepage,original_title
1,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End
2,http://www.sonypictures.com/movies/spectre/,Spectre
3,http://www.thedarkknightrises.com/,The Dark Knight Rises

# # row and column selection in  one line.(pd.loc[row range, column name])
## Only work for labels

In [94]:
df.loc[1:5,['homepage','original_title','revenue']]

,homepage,original_title,revenue
1,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,961000000
2,http://www.sonypictures.com/movies/spectre/,Spectre,880674609
3,http://www.thedarkknightrises.com/,The Dark Knight Rises,1084939099
4,http://movies.disney.com/john-carter,John Carter,284139100
5,http://www.sonypictures.com/movies/spider-man3/,Spider-Man 3,890871626

# # row and column selection in  one line.(pd.iloc[row range, column name])
## will only work when columns and rows are have integer index.

In [95]:
df.iloc[34:88,7:9]
#Here you need to provide integers

                                             overview  popularity
34  A look at the relationship between Mike and Su...   89.186492
35  Sam Witwicky leaves the Autobots behind for a ...   21.939663
36  As humanity picks up the pieces, following the...  116.840296
37  Oscar Diggs, a small-time circus illusionist a...   46.985445
38  For Peter Parker, life is busy. Between taking...   89.270217
39  Sam Flynn, the tech-savvy and daring son of Ke...   73.795050
40  Star race car Lightning McQueen and his pal Ma...   49.986590
41  For centuries, a small but powerful force of w...   51.872839
42  Woody, Buzz, and the rest of Andy's toys haven...   59.995418
43  All grown up in post-apocalyptic 2018, John Co...   71.862892
44  Deckard Shaw seeks revenge against Dominic Tor...  102.322217
45  Life for former United Nations investigator Ge...   81.834855
46  The ultimate X-Men ensemble fights a war for t...  118.078691
47  When the crew of the Enterprise is called back...   78.291018
48  The story of an ancient war that is reignited ...   43.349855
49  An adaptation of F. Scott Fitzgerald's Long Is...   61.196071
50  A rogue prince reluctantly joins forces with a...   62.169881
51  When legions of monstrous creatures, known as ...   56.523205
52  Sam Witwicky takes his first tenuous steps int...   28.529607
53  Set during the Cold War, the Soviets – led by ...   75.674458
54  An epic journey into the world of dinosaurs wh...   51.692953
55  Brave is set in the mystical Scottish Highland...  125.114374
56  The USS Enterprise crew explores the furthest ...   65.352913
57  WALL·E is the last robot left on an Earth that...   66.390712
58  After an attempted assassination on Ambassador...   22.571780
59  Dr. Adrian Helmsley, part of a worldwide geoph...   45.274225
60  Miser Ebenezer Scrooge is awakened on Christma...   39.744242
61  In a universe where human genetic material is ...   85.369080
62  Tarzan, having acclimated to life in London, i...   42.741719
63  Siblings Lucy, Edmund, Susan and Peter step th...   67.391328
64  After the re-emergence of the world's first mu...  139.272042
65  Batman raises the stakes in his war on crime. ...  187.322927
66  Carl Fredricksen spent his entire life dreamin...   92.201962
67  When Susan Murphy is unwittingly clobbered by ...   36.167578
68  After being held captive in an Afghan cave, bi...  120.725053
69  Hugo is an orphan boy living in the walls of a...   32.319043
70  Legless Southern inventor Dr. Arliss Loveless ...   40.748915
71  Archaeologist Rick O'Connell travels to China,...   60.034162
72  From DC Comics comes the Suicide Squad, an ant...   90.237920
73  God contacts Congressman Evan Baxter and tells...   27.082182
74  Major Bill Cage is an officer who has never se...   79.456485
75  In a futuristic world where the polar ice caps...   44.640292
76  From the Egyptian desert to deep below the pol...   32.852443
77  Growing up can be a bumpy road, and it's no ex...  128.655964
78  After a threat from the tiger Shere Khan force...   94.199316
79  With the world now aware of his dual life as t...   77.300194
80  After the Evil Queen marries the King, she per...   77.178973
81  The untold story of Disney's most iconic villa...  110.620647
82  A group of scientists in San Francisco struggl...  243.791743
83  The Lovers is an epic romance time travel adve...    2.418535
84  Based on the original 1941 movie from Japan, a...   41.796339
85  After the cataclysmic events in New York with ...   72.225265
86  A bored and domesticated Shrek pacts with deal...   44.041186
87  Bound by a shared destiny, a bright, optimisti...  130.311355

#}

# End of Tutorial#